* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #4d4d4d;
  padding: 20px;
}

a.link {
  width: max-content;
  position: fixed;
  left: 10px;
  right: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}

a.link:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8);
}

table,
th,
td {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

th {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

table img {
  width: 40px;
}

.aksi {
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.aksi a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
}

.aksi a:first-child:hover {
  border: 1px solid transparent;
  background-color: #3399ff;
}

.aksi a:last-child:hover {
  border: 1px solid transparent;
  background-color: #ff4d4d;
}

.noresults {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 0.8rem;
}
